html {
	background-color: black;
}
p {
	font-size: 20px;
	color: white;
}
li{
	font-size: 15px;
	color: white;
}
h2 {
	color: white;
}
html, body {
	height: 100%;
}
img.resize{
	width: 30px;
	height: 30px;
}
.row{
	padding-left: 10px;
	padding-right: 10px;
}
.jumbotron{
	margin-bottom: 0em;
}
.under-line{
	margin: 25px 20%;
	height: 1px;
	width: 60%;
	background-color: white;
}
.under-line.black{
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
}
.under-line.white{
  	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)) !important;
}
.container-fluid.background{
	background-image: url('http://i.imgur.com/LpoA8vj.jpg');
	/*https://static.pexels.com/photos/71983/black-and-white-interior-macbook-drawing-71983.jpeg*/
}
.container{
	background-color: rgba(0,0,0,0.75);
}
.row.contact{
	padding-left: 10em;
}
#home{
	color: white;
	padding-top: 20em;
	padding-bottom: 20em;
}
#about{
	padding-top: 7em;
	padding-bottom: 7em;
}
#projects{
	padding-top: 7em;
	padding-bottom: 7em;
}
#contact{
	padding-top: 7em;
	padding-bottom: 7em;
}

